@import "tailwindcss";

@theme {
  --color-lol-gold: #C8AA6E;
  --color-lol-goldDim: #785A28;
  --color-lol-goldLight: #F0E6D2;
  --color-lol-amber: #B85F43;
  --color-lol-red: #C23030;
  --color-lol-redDark: #5e1313;
  --color-lol-hextech: #9333EA;
  --color-lol-hextechDim: #581c87;
  --color-lol-blue: #9333EA;
  --color-lol-dark: #050505;
  --color-lol-panel: #121212;
  --color-lol-card: #18181b;
  --color-lol-win: #059669;
  --color-lol-loss: #991B1B;
}

body {
    font-family: var(--font-inter), sans-serif;

    background: linear-gradient(
            to right,
            #050505 0%,
            #100e22 50%,
            #050505 100%
    );
}