name: SonarCloud analysis

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main", "dev" ]
  workflow_dispatch:

permissions:
  pull-requests: read

jobs:
  sonarcloud:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@v1.3.0
        with:
          args: >
            -Dsonar.projectKey=ElectroSpeed_Stats-Of-Legends
            -Dsonar.organization=stats-of-legends
            -Dsonar.branch.name=${{ github.ref_name }}
            -Dsonar.sources=.
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
