name: SonarCloud analysis

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main", "dev" ]
  workflow_dispatch:

permissions:
  pull-requests: read

jobs:
  sonarcloud:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@d7a4f37507f654dcf6869a657e89da6f16c2a750
        with:
          args: >
            -Dsonar.projectKey=ElectroSpeed_Stats-Of-Legends
            -Dsonar.organization=stats-of-legends
            -Dsonar.sources=.
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
